/* login.module.css */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
  }
  
  
  
  .imglogo {
     width: 100%;
    height: 120px;
    background-color: #ffffff;
    padding: 15px;
    padding-left: 60px;
  }

  .divTextoCpm {
    width: 100%;
    height: 600px;
    background-color: #e7f1fa;
    justify-items: center;
  }

  .divTextoCpmSecundario {
    width: 63%;
    height: 165px;
    background-color: #e7f1fa;
    align-content: center;
  }

  .h1Cpm {
    font-size: 32px;
    padding-left: 15px;
    color: #304486;
    font-weight: bold;
  }

  .h1CpmLogo {
    font-size: 32px;
    padding-left: 5px;
    color: #304486;
    font-weight: bold;
  }
  
.divSlidPrincipal {
  display: flex;
  width: 63%;
  justify-content: center;
  justify-items: center;
}

.divItemSlid {
  width: 20%;
  height: 380px;
  background-color: #9ee958;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.divTextoSlid {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  padding: 10px;
  color: white;
}


.carouselAspect {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 4.5; /* altura padrão (ex: 2000x562.5) */
}


.divBotao {
  width: 100%;
  height: 80px;
  background-color: #ed242b;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.botao {
  padding: 10px;
  background: #141a28;
  border-radius: 10px;
  width: 150px;
  height: 40px;
  color: #fff;
  font-size: 16px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .carouselAspect {
    aspect-ratio: 16 / 4; /* aumenta a altura no modo responsivo */
  }
}



@media (max-width: 768px) {
  .divSlidPrincipal {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .divItemSlid {
    width: 90%;
    height: auto; /* libera altura fixa */
    margin-bottom: 20px;
  }

  .divTextoSlid {
    min-height: 80px; /* ou o que achar melhor */
    font-size: 18px;
  }

  .divTextoCpmSecundario {
    width: 100%;
    padding-left: 30px;
    height: 100px;
    margin-top: 1px;
    background-color: #e7f1fa;
    align-content: center;
  }

  .h1Cpm {
    font-size: 25px;
    padding-left: 3px;
    color: #304486;
    font-weight: bold;
  }

  .logo {
    width: 100%;
    height: 120px;
    background-color: #ffffff;
    padding: 15px;
    padding-left: 2px;

  }

  .h1CpmLogo {
    font-size: 40px;
    padding-left: 3px;
    color: #304486;
    font-weight: bold;
    
  }

  .imglogo {
    width: 80px;
    height: 80px;
    padding: 10px;

    
  }
}

/* Mostra só no desktop */
.textoDesktop {
  display: block;
  font-size: 32px;
  padding-left: 5px;
  color: #304486;
  font-weight: bold;
}

/* Esconde no desktop */
.textoMobile {
  display: none;
}

/* Inverte no mobile */
@media (max-width: 768px) {
  .textoDesktop {
    display: none;
  }

  .textoMobile {
    display: block;
    font-size: 40px;
    padding-left: 5px;
    color: #304486;
    font-weight: bold;
  }
}

/* css da modal de login */


@keyframes fadeInOverlay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.315);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;

  /* Animação do fundo */
  animation: fadeInOverlay 0.5s ease-out;
}

/* login.module.css */

/* Animação de entrada */
@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Aplica ao conteúdo da modal */
.modalContent {
  background: #000000c9;
  padding: 30px 20px;
  border-radius: 12px;
  width: 90%;
  height: 90%;
  max-width: 400px;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);

  /* Animação */
  animation: fadeInScale 0.5s ease-out;
}

.closeButton {
  position: absolute;
  top: 8px;
  right: 12px;
  font-size: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
  color: #333;
}

/* Estilize o formulário se ainda não tiver */

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  color: #ffffff;
}

.input {
  padding: 10px;
  border-radius: 6px;
  background: #ffffff;
  border: 1px solid #ffffff;
  color: #000000;
}

.button {
  background-color: #141a2800;
  color: white;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: -8px;
}











