/* login.module.css */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa toda a altura da tela */
    background-color: #f5f5f5;
  }
  
  .imageContainer {
    margin-bottom: 30px; /* Espaçamento entre a imagem e os campos */
  }
  
  .logo {
    max-width: 200px; /* Tamanho máximo da imagem */
    width: 100%;
    height: auto;
  }
  
  .formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px; /* Limita a largura do formulário */
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra para dar destaque ao formulário */
    border-radius: 8px;
  }
  
  .inputGroup {
    margin-bottom: 15px;
    width: 100%;
  }
  
  .inputGroup label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .error {
    color: red;
    margin-bottom: 10px;
  }
  
  .button {
    padding: 10px 20px;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #0070f3;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #005bb5;
  }
  