/* Container geral para app */
.appContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
/* Imagem de fundo */
.imgbackground {
  display: flex;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../../../public/assets/images/logo.png');
  background-size: 40%; /* Ajuste o tamanho da imagem */
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.1;
  z-index: -1;
}

.logo {
  display: flex;
  align-items: center;
  cursor: default;
}

.logoImg {
  height: 30px;
  width: 30px;
}

.logoTextPrimeiraParte {
    padding-left: 8px;
    font-size: 20px;
    color: #0e5a94;
}


.divHeaderUserDetalhe {
  display: flex;
  justify-content: left;
  padding: 10px;
  align-items: center;
  width: 100%;      
  height: 60px;     
  margin-bottom: 10px;
}

.userFuncaoComunicacao {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: #8d8d8d; /* Ajuste conforme a cor desejada */
}

.userSemImagem {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 3px;
  color: #757575;
  margin-right: 10px;
  border: 1px solid #757575;
}



/* Navegação do menu */
.nav {
  width: 100%;
}

.nav ul {
  list-style: none;
  padding: 0;
}

.navItem {
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px;
  font-size: 16px;
  transition: background-color 0.3s ease;
  border-bottom: 1px solid white;
}

.navItem:hover {
  background-color: #ffffff1f;
}

.navIcon {
  width: 18px;
  height: 18px;
  margin-left: 10px;
  margin-right: 10px;
}
.navIconComunicacaoList {
  width: 18px;
  height: 18px;
  margin-left: 5px;
  margin-right: 5px;
}

.navIconResposta {
  width: 18px;
  height: 18px;
  color: #101111;
  margin-left: 10px;
  margin-right: 10px;
}

/* Submenu */
.submenu {
  list-style: none;
  padding: 0;
  padding-left: 20px;
}

.submenuItem {
  text-decoration: none;
  color: white;
  font-size: 16px;
  border-radius: 4px;
  margin-left: 5%;
  transition: background-color 0.3s ease;
}

.submenuItem:hover {
  background-color: #ffffffa7;
}

/* Conteúdo principal */
.mainContent {
  flex: 1;
  width: 100%;
}

/* Header fixo no topo */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  padding: 0 10px;
  color: rgb(0, 0, 0);
  z-index: 1000;
}

.dashboardContainer {
  display: flex;
  flex: 1;
  margin-top: 40px; /* Espaço para header fixa */
  height: calc(100vh - 50px);
}

/* Sidebar fixa no lado esquerdo, abaixo da header */
.sidebar {
  position: fixed;
  top: 40px; /* logo abaixo do header */
  left: 0;
  height: calc(100vh - 42px); /* ocupa a altura da tela menos o header */
  background-color: #ffffff;
  transition: width 0.1s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-top: 1rem;
  z-index: 999; /* abaixo do header, mas acima do conteúdo */
}

.sidebarOpen {
  width: 230px;
}

.sidebarClosed {
  width: 52px;
}

.menuButton {
  background: none;
  border: none;
  color: #0f2b60;
  font-size: 20px;
  margin-left: 1rem;
  margin-bottom: 1.5rem;
  cursor: pointer;
  align-self: flex-start;
}

.menuItems {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  align-items: center;
}

.menuItems li {
  display: flex;
  align-items: center;
  padding: 10px 5px;
  cursor: pointer;
  transition: background-color 0.2s;
  white-space: nowrap;
  width: fit-content;
}

.menuItems li:hover {
  background-color: #9fdac0;
}

/* Ícones sempre visíveis */
.icon {
  font-size: 1rem;
  margin-right: 8px;
  color: #101111;
  min-width: 18px;
}
/* Ícones sempre visíveis */
.iconUser {
  font-size: 1rem;
  margin-right: 8px;
  min-width: 25px;
  border-radius:50%;
}

/* Texto do item (aparece só quando aberto) */
.itemText {
  flex: 1;
  color: #101111;
  margin-left: 5px;
}

.mobileOnlyText {
  display: none;
  font-size: 14px;
  color: #101111;
}

/* Torna visível só no mobile */
@media screen and (max-width: 768px) {
  .mobileOnlyText {
    display: block;
  }

  .mobileIconText {
    padding-left: 12px;
    padding-right: 12px;
    margin-top: 3px;
  }
}

/* Estilo do wrapper do ícone no mobile */
.mobileIconWrapper {
  display: none;
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 3px;
}



/* Mobile: mostra o wrapper e esconde o ícone direto */
@media screen and (max-width: 768px) {
  .mobileIconWrapper {
    display: block;
  }

  .desktopIcon {
    display: none;
  }
}

.active {
  background-color: #69be99;
  border-radius: 20%;
  color: #ffffff;
}

/* Menu perfil na sidebar */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3000;
  background-color: rgba(0, 0, 0, 0); /* fundo invisível */
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 5px;
}

.userModal {
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  width: 515px;
  height: 730px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 3001;
  animation: slideUp 0.2s ease-out;
  overflow: hidden;
}

.modalLeft {
  width: 10%;
  background-color: #f1f1f1;
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
}

.modalMenu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.modalMenu li {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: background 0.2s ease;
  border-radius: 4px;
}

.modalMenu li:hover {
  background-color: #ddd;
}

.activeMenuItem {
  background-color: #ccc;
  font-weight: bold;
}

.menuIcon {
  margin-right: 5px;
}

.modalRight {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.geralSenhaPjes {
  font-size:10px;
  text-align:left;
  margin-left:1px;
}

.imgUserModal {
  width:60px;
  height: 60px;
  border-radius: 50%;
  color: #dad7d7;
  padding: 5px;
  object-fit: cover;
  border:1px solid #ccc;
}

.imgUserModalComentario {
  width:50px;
  height: 50px;
  border-radius: 50%;
  color: #dad7d7;
  padding: 5px;
  object-fit: cover;
  border:1px solid #ccc;
}

.imgUserModalAlteracao {
  width:25px;
  height: 23px;
  border-radius: 50%;
  color: #dad7d7;
}

.identificacaoUser {
  margin-bottom:1rem;
  font-size: 15px;
  text-align:left;
}

.seiFuncaoTelEmail {
  text-align:left;
  display:flex;
  flex-direction:column;
  gap:0.5rem;
}

.divSeiFuncaoTelEmail {
  display:flex; align-items:center;
}

.faSeiFuncaoTelEmail {
  margin-right:8px;
}

.hrSeiFuncaoTelEmail {
  border:none;
  border-top:1px solid #ccc;
  margin-top:2rem;
}

.divTabGeral {
  display:flex;
  flex-direction:column;
  height:100%;
}

.divTabGeralBotoes {
  flex: 1;
  overflow-y: auto;
  padding-right: 10px;
  padding-bottom:1rem;
}

.divTabPrincipalBotoes {
  display:flex;
  gap: 10px;
  margin-top:10px;
}

.divTabBotoes {
  flex: 1;
  padding: 30px;
  background: #f5f5f5;
  border-radius:20px;
}

.divPrincipalComentario {
  margin-top: 10px;
  height: 200px;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}

.labelComentario {
    color: #333;
    font-size: 15px;
    background: #f0f3f3;
    flex-grow: 1;
    margin-top: 10px;
    padding: 5px;
    margin-bottom: 10px;
    line-height: 1.5;
    border-radius: 10px;

}

.labelDataComentario {
  color:#333;
  font-size: 10px;

}

.divAspasDireita {
  font-size:30px;
  color: #6d6868;
  align-self: flex-end;
  padding-right:120px;
}

.divImgComentario {
  position: absolute;
  bottom: 10px;
  justify-items: center;
  right: 10px;
}

.labelNomeUserComentario {
  color: #333;
  font-size: 10px;
}

.divDesconectar {

}

.imgSenhaModal {
  width:100px;
  height: 100px;
  color: #dad7d7;
  object-fit: cover;
}

.modalFooterLeft {
  margin-top: auto;
  padding-top: 1rem;
}

.profileFooterItem {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
  border-radius: 4px;
  background-color:#2e53b1;
  color:#ffffff;
}

.profileFooterItem:hover {
  background-color: #ddd;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
  
}
/* fim Menu perfil na sidebar */




/* Conteúdo da página */
.conteudoPagina {
  flex: 1;
  margin-left: 55px;
  color: #101111;
  /*overflow-y: auto;*/
}

.headerMenu {
  position: relative;
  margin-left: auto;
}

.headerMenuButton {
  background: none;
  border: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 8px;
}

.headerDropdown {
  position: absolute;
  right: 0;
  top: 39px;
  background-color: #1a1a2e;
  border: 1px solid #333;
  border-radius: 4px;
  overflow: hidden;
  z-index: 2000;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.headerDropdown div {
  padding: 10px 16px;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.headerDropdown div:hover {
  background-color: #cbd0dd;
}


/* Rodapé fixo na sidebar (modo desktop) */
.sidebarFooter {
  margin-top: auto;
  width: 100%;
  border-top: 1px solid #f0eaea;
}

.profileItem {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.profileItem:hover {
  background-color: #cbd0dd;
}

/* FIM DO TEMPLATE PRINCIPAL */


/* INICIO TELA NOVA USUARIOS */
.alunosContainer {
  display: flex;
  height: 100%;
  background-color: #ffffffa8;
}

/* Div esquerda (lista de alunos) */
.listaEsquerda {
  width: 25%;
  padding: 5px;
  border-right: 1px solid #dadee3;
}

/* Div direita (detalhes do aluno) */
.detalhesDesktop {
  width: 75%;
  padding: 5px;
}

.divFiltroUsuarios {
  display: flex;
  width: 100%;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 20px;

  gap: 6px; /* opcional: espaçamento entre spans */
}


.divUsuarios {
  height: 100%;
  overflow-y: auto;
  padding-bottom: 50px;
}

.spanFiltroUsuarios {
  flex: 1; /* faz cada span ocupar espaço igual */
  text-align: center; /* centraliza o texto */
  border-radius: 15px;
  font-size: 10px;
  padding: 3px 0; /* altura do botão */
  border: 1px solid #c9c9c9;
  cursor: pointer; /* opcional: parece clicável */
}


.userInfo {
  display: flex;
  gap: 10px;
}

/* empurra o menu totalmente para a direita */
.menuWrapper {
  margin-left: auto;
  position: relative;
}


.listdeAlunos ul {
  padding: 0;
  list-style: none;
}

.listdeAlunos li {
  color: rgb(68, 67, 67); /* Cor do texto */
  margin-bottom: 3px; /* Espaço entre os itens */
  font-size: 8px; /* Tamanho da fonte */
  display: flex; /* Alinha ícone e texto horizontalmente */
  align-items: center; /* Alinha o ícone e o texto verticalmente */
  padding: 5px; /* Espaçamento entre o conteúdo e a linha */
}

.listdeAlunos li i {
  margin-right: 5px; /* Espaço entre o ícone e o texto */
  color: green; /* Cor do ícone */
}

.listdeAlunos li .rightIcon {
  margin-left: auto; /* Alinha o ícone à direita */
  font-size: 12px; /* Tamanho do ícone */
  color: black; /* Cor do ícone à direita */
}

.listdeAlunos li .rightTexto {
  margin-left: auto; /* Alinha o ícone à direita */
  font-size: 10px; /* Tamanho do ícone */
  color: black; /* Cor do ícone à direita */

}

.alunoListImg {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alunoSelecionado {
  background-color: #e3e6ebb1;
  border-radius:5px;
}

.editIcon {
  font-size: 15px;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 5px;
  color: #333;
}

.menuSuspenso {
  position: absolute;
  top: 80px;
  right: 10px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 100;
  width: 200px;
  padding: 5px 0;
  font-family: sans-serif;
}

.menuSuspenso ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menuSuspenso li {
  padding: 14px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  color: #333;
}

.menuSuspenso li:hover {
  background-color: #f0f0f0;
}


.modalOverlayCadAluno {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3000;
  background-color: rgba(75, 30, 30, 0);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 480px;
  padding-top: 110px;
}


.imgCadAluno {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  padding: 3px;
  color: #757575;
  margin-right: 10px;
  border: 1px solid #757575;
}


.menuIcon {
  margin-right: 5px;
}


.cadAlunoModal {
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  width: 400px;
  height: 580px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 3001;
  animation: slideDown  0.1s ease-out;
  overflow: hidden;
}

.modalOverlayCadDetalhesAluno {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3000;
  background-color: rgba(75, 30, 30, 0);
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding-right: 40px;
  padding-top: 540px;
}

.cadDetalhesAlunoModal {
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  width: 400px;
  height: 310px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 3001;
  animation: slideDown  0.1s ease-out;
  overflow: hidden;
}


.modalOverlayCadEndereco {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3000;
  background-color: rgba(75, 30, 30, 0);
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding-right: 40px;
  padding-top: 350px;
}

.cadEnderecoModal {
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  width: 400px;
  height: 280px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 3001;
  animation: slideDown  0.1s ease-out;
  overflow: hidden;
}


.modalOverlayCadComunicacao {
  position: fixed;
  top: 0;
  left: 20;
  right: 0;
  bottom: 0;
  z-index: 3000;
  background-color: rgba(75, 30, 30, 0);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 480px;
  padding-top: 40px;
}

.cadComunicacaoModal {
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  width: 99%;
  height: 900px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 3001;
  animation: slideDown  0.3s ease-out;
  overflow: auto;
}


@keyframes slideDown {
  from {
    transform: translateY(-30%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.modalRightCadAluno {
  flex: 1;
  padding: 1.5rem;
  background-color: #fff;
  overflow-y: auto;
}


.inputCadAlunoApenasinput {
  width: 95%;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
  outline: none;
  margin: 5px;
  padding-left: 4px;
}

.botaoFooterCadAluno {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  font-size: 18px;
  margin-top: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
  border-radius: 4px;
  background-color:#3c8114;
  color:#ffffff;
}

.botaoFooterCadAluno:hover {
  background-color: #619c3f;
}

.botaoFooterCancelar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  margin-top: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.2s;
  border-radius: 4px;
  background-color:#b13914;
  color:#ffffff;
}

.alunoSemImagem {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 3px;
  color: #757575;
  margin-right: 10px;
  border: 1px solid #757575;
}

.divItensMeioUsuario {
  font-size:14px;
  color:#89899b;
  display:flex;
}

.divItensMeioUsuarioTelefone {
  display: flex;
  margin-right:15px;
  align-items: center;
}

.divItensMeioUsuarioMat {
  display:flex;
  margin-right:5px;
  align-items:center;
}

.divItensMeioUsuarioFuncao {
  display:flex;
  margin-left:10px;
  align-items:center;
}

.divDadosBasicosUserPrincipal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.divDadosBasicosUserTexto {
  padding: 5px;
  border: 1px solid #d4d0d0;
  margin-top: 5px;
}



/* mobile */
@media (max-width: 768px) {
  .alunosContainer {
    display: block;
  }

  .listaEsquerda {
    width: 100%;
    border-right: none;
    padding: 5px;
    overflow-y: auto;
  }

  .detalhesDesktop {
    display: none;
  }

  .detalhesMobile {
    display: block;
    margin-top: 5px;
  }

  .listdeAlunos {
    width: 100% !important;
    height: 100%;
    overflow-y: auto;
  }

  .modalOverlay {
    justify-content: center;
    align-items: flex-end;
    padding-left: 0;
    padding-bottom: 0;
  }

  .userModal {
    width: 100%;
    height: 80%;
    border-radius: 12px 12px 0 0;
    animation: slideUp 0.2s ease-out;
  }

  .modalOverlayCadAluno {
    padding-left: 0px;
  }

  .modalOverlayCadComunicacao {
    padding-left: 0px;
    width: 90%;
  }

}

/* DESKTOP */
@media (min-width: 769px) {
  .detalhesMobile {
    display: none;
  }
}

/* FIM TELA NOVA USUARIOS */


/* INICIO TELA LISTA DE COMUNICAÇÃO ALUNOS */

.comunicacaoContainer {
  display: flex;
  height: 100%;
}

.itemComunicacao {
  background-color: #9795a11e;
  border-radius: 5px;
}

.comunicacaoAlunoListImg {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 5px;

  /* Centralizando o ícone */
  display: flex;
  justify-content: center;
  align-items: center;
}

.comunicacaoAlunoListImg i {
  color: white;        /* cor branca */
  font-size: 18px;     /* aumenta o tamanho do ícone, ajuste como quiser */
}

.divComunicacaoRodape {
  display: flex;
  flex-direction: column; /* Alinha os itens em coluna */
  align-items: center;     /* Centraliza horizontalmente */
  justify-content: center; /* Centraliza verticalmente (opcional) */
  text-align: center;      /* Centraliza o texto */
  padding: 5px;       /* Opcional: dá um espaçamento interno */
  height: 100%;
  margin-top: 50px;
  margin-bottom: 30px;
}


/* FIM TELA LISTA DE COMUNICAÇÃO ALUNOS */

.divUserImagePerfil {
  display: flex;
  flex-direction: column; /* Alinha os itens em coluna */
  align-items: center;     /* Centraliza horizontalmente */
  justify-content: center; /* Centraliza verticalmente (opcional) */
  text-align: center;      /* Centraliza o texto */
  padding: 5px;       /* Opcional: dá um espaçamento interno */
  height: 100%;            /* Se quiser centralizar verticalmente, garanta altura */
  margin-bottom: 10px;
}

























/* Tabela de usuário */
.userTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.userTable th,
.userTable td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.userTable th {
  background-color: #f4f4f4;
}


.tabelaUsuarios {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.tabelaUsuarios th, .tabelaUsuarios td {
  padding: 10px;
  text-align: left; /* Alinha os outros dados à esquerda */
}

.tabelaUsuarios th {
  background-color: #f2f2f2;
}

.tabelaUsuarios tr:nth-child(even) {
  background-color: #f9f9f9;
}

.tabelaUsuarios tr:hover {
  background-color: #f1f1f1;
}

/* Estilos para a imagem */
.userImageList {
  width: 30px;
  height: 30px;
  object-fit: cover; /* Garante que a imagem não distorça e preencha a área definida */
  border-radius: 50%; /* Deixa a imagem arredondada */
}
.usertableCom td{
  text-align: center;
  padding: 0;
}
.motivotableCom td{
  text-align: left;
  padding: 0;
}

/* Centraliza a imagem dentro da célula */
.tabelaUsuarios td img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Estilo para a coluna de Ações */
.acoesColuna {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.acoesColuna button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  padding: 5px;
}

.acoesColuna button:hover {
  color: #007bff;
}

.tituloConteudoPrincipal {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px; /* Espaço entre o título e a tabela */
}

/* Estilo do dropdown */
.dropdown {
  width: 150px;
  position: absolute;
  top: 60px; /* Ajuste conforme a altura do header */
  right: 0px;
  background-color: #0f4761;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 100; /* Garante que o dropdown ficará acima de outros elementos */
  padding: 10px 0;
}

.dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown li {
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.dropdown li a {
  text-decoration: none;
  color: #fff9f9;
  font-size: 16px;
  display: block;
}

.dropdown li:hover {
  background-color: #ffffffa7;
}

.dropdown li a:hover {
  color: #007bff;
}

/* Classe para a mudança de cor do nome do usuário ao passar o mouse */
.userName:hover {
  color: #007bff;
}

.profileDetails ul {
  padding: 0;
  list-style: none;
}

.profileDetails li {
  color: rgb(68, 67, 67); /* Cor do texto */
  margin-bottom: 10px; /* Espaço entre os itens */
  font-size: 14px; /* Tamanho da fonte */
  display: flex; /* Alinha ícone e texto horizontalmente */
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(228, 219, 219); /* Linha abaixo de cada item */
}

.divIdentificacaoUsuario {
  color: rgb(68, 67, 67); /* Cor do texto */
  margin-bottom: 10px; /* Espaço entre os itens */
  font-size: 14px; /* Tamanho da fonte */
  display: flex; /* Alinha ícone e texto horizontalmente */
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(228, 219, 219); /* Linha abaixo de cada item */
}

.profileDetails .divIdentificacaoUsuario i {
  margin-right: 10px; /* Espaço entre o ícone e o texto */
  color: rgb(0, 0, 0); /* Cor do ícone */
}

.profileDetails .divIdentificacaoUsuario .rightIcon {
  margin-left: auto; /* Alinha o ícone à direita */
  font-size: 18px; /* Tamanho do ícone */
  color: black; /* Cor do ícone à direita */
}

.profileDetails .divIdentificacaoUsuario .rightTexto {
  margin-left: auto; /* Alinha o ícone à direita */
  font-size: 12px; /* Tamanho do ícone */
  color: black; /* Cor do ícone à direita */

}

.divConteudoComunicacao {
  color: rgb(68, 67, 67); /* Cor do texto */
  margin-bottom: 10px; /* Espaço entre os itens */
  font-size: 14px; /* Tamanho da fonte */
  display: flex; /* Alinha ícone e texto horizontalmente */
  align-items: center;
}

.profileDetails li i {
  margin-right: 10px; /* Espaço entre o ícone e o texto */
  color: rgb(0, 0, 0); /* Cor do ícone */
}

.profileDetails li .rightIcon {
  margin-left: auto; /* Alinha o ícone à direita */
  font-size: 18px; /* Tamanho do ícone */
  color: black; /* Cor do ícone à direita */
}

.profileDetails li .rightTexto {
  margin-left: auto; /* Alinha o ícone à direita */
  font-size: 12px; /* Tamanho do ícone */
  color: black; /* Cor do ícone à direita */

}
/* PAGINA COMUNICAÇÃO cad e ver,  */





.comunicacaoAlunoList ul {
  padding: 0;
  list-style: none;
}

.comunicacaoAlunoList li {
  color: rgb(68, 67, 67); /* Cor do texto */
  margin-bottom: 5px; /* Espaço entre os itens */
  font-size: 8px; /* Tamanho da fonte */
  display: flex; /* Alinha ícone e texto horizontalmente */
  align-items: center; /* Alinha o ícone e o texto verticalmente */
  padding-bottom: 5px; /* Espaçamento entre o conteúdo e a linha */
  border-bottom: 1px solid rgb(194, 190, 190); /* Linha abaixo de cada item */
}

.comunicacaoAlunoList li i {
  margin-right: 5px; /* Espaço entre o ícone e o texto */
  color: green; /* Cor do ícone */
}

.comunicacaoAlunoList li .rightIcon {
  margin-left: auto; /* Alinha o ícone à direita */
  font-size: 12px; /* Tamanho do ícone */
  color: black; /* Cor do ícone à direita */
}

.comunicacaoAlunoList li .rightTexto {
  margin-left: auto; /* Alinha o ícone à direita */
  font-size: 10px; /* Tamanho do ícone */
  color: black; /* Cor do ícone à direita */

}


/* Conteúdo da página (ajustado à direita da sidebar) */
.comunicacaoPagina {
  flex-grow: 1; /* Faz com que o conteúdo ocupe o restante da tela */
  padding: 10px; /* era 20px Espaçamento dentro do conteúdo */
  overflow-x: hidden; /* Impede que o conteúdo ultrapasse à direita */
  overflow-y: auto; /* Adiciona scroll vertical quando necessário */
  box-sizing: border-box; /* Inclui padding e borda no cálculo da largura */
  border: 1px solid;
  border-color: #d1cfcf;
  max-width: 100vw; /* Garante que a largura máxima da div não ultrapasse a tela */
}

.navTituloListar {
  flex-grow: 1; /* Faz com que o conteúdo ocupe o restante da tela */
  height: 100px;
  display: flex;
  box-sizing: border-box; /* Inclui padding e borda no cálculo da largura */
  background-color: #ffffff;
  max-width: 100vw; /* Garante que a largura máxima da div não ultrapasse a tela */
  margin-bottom: 15px;
}

.tituloListar {
  font-size: 18px;
  margin-bottom: 5px;
}


.itensTituloListar {
  flex-grow: 1; /* Faz com que o conteúdo ocupe o restante da tela */
  height: 70px;
  width: 20%;
  margin: 15px;
  border-right: 3px solid;
  border-color: #7b7878;
  box-sizing: border-box; /* Inclui padding e borda no cálculo da largura */
  max-width: 100vw; /* Garante que a largura máxima da div não ultrapasse a tela */
}

.priTituloItemListar {
  font-size: 12px;
  color: #4b4a4a;
}

.segTituloItemListar {
  font-size: 20px;
  margin-top: 5px;
  color: #4b4a4a;
  display: flex;
}

.terTituloItemListar {
  font-size: 12px;
  color: #4b4a4a;
}


/* Alunos | Turma... */
.tituloComunicacao {
  display: flex;
  justify-content: space-between; /* Garante que os itens fiquem nas extremidades */
  align-items: center; /* Alinha os itens verticalmente no centro */
  margin-top: 1px;
  margin-bottom: 20px;
  max-width: 100vw; /* Garante que a largura máxima da div não ultrapasse a tela */
  box-sizing: border-box; /* Inclui padding e borda no cálculo da largura */
}

.aluno_turma {
  text-align: left;
}

.andamento {
  text-align: right;
}

.divUserAlunoComunicacao {
  display: flex;
  width: 100%;      
  align-items: center; /* Alinha os itens verticalmente no centro */
  border: 1px solid;
  padding: 10px;
  border-color: #bfbbbb;
}

.divImageAlunoComunicacao {
  display: flex;
  flex-direction: column; /* Coloca os itens (nome e função) em coluna */
  margin-left: 20px;
  align-items: center;
  width: 33%;
}

.userInfoAlunoComunicacao {
  display: flex;
  flex-direction: column; /* Coloca os itens (nome e função) em coluna */
  font-size: 20px;
  width: 33%;
}

.userComportAlunoComunicacao {
  display: flex;
  font-size: 80px;
  margin-left: 20px;
}

.comportComunicacao {
  flex-direction: column; /* Coloca os itens (nome e função) em coluna */
  align-items: center;
  display: flex;
  width: 33%;
}

.userNameAlunoComunicacao {
  font-size: 22px;
  font-weight: bold;
  font-family: fangsong;
  color: #686868; /* Ajuste conforme a cor desejada */
}

.userFuncaoAlunoComunicacao {
  font-size: 16px; /* Ajuste o tamanho conforme necessário */
  color: #686868; /* Ajuste a cor conforme desejado */
  margin-top: 5px; /* Espaço entre o nome e a função */
}

.navIconResp1Comunicacao {
  width: 25px;
  height: 25px;
  color: #199f2b;
  margin-left: 10px;
  margin-right: 10px;
}

.navIconResp2Comunicacao {
  width: 25px;
  height: 25px;
  color: #199f2b;
  margin-left: 10px;
  margin-right: 10px;
}

.divResp1Comunicacao{;
  margin-top: 10px;
}

.spanResp1Comunicacao{;
  margin-bottom: 10px;
}


/* Cadatrar Comunicação */
.comunicacaoDetails ul {
  padding: 0;
  list-style: none;
}

.comunicacaoDetails li {
  color: rgb(68, 67, 67); /* Cor do texto */
  margin-bottom: 2px; /* Espaço entre os itens */
  font-size: 16px; /* Tamanho da fonte */
  display: flex; /* Alinha ícone e texto horizontalmente */
  align-items: center; /* Alinha o ícone e o texto verticalmente */
  padding-bottom: 5px; /* Espaçamento entre o conteúdo e a linha */
  margin-left: 20px;
}

.comunicacaoDetails li i {
  margin-right: 10px; /* Espaço entre o ícone e o texto */
  color: green; /* Cor do ícone */
}

.inputComunicacaoDetails {
  margin-right: 10px; /* Espaço entre o ícone e o texto */
  width: 20px;
  height: 20px;
}

.enquadramento {
  width: 100%;
  margin-bottom: 10px;
}

.inputRespostaCheck {

  font-size: 12px;
  width: 330px;
  height: 20px;
  color: #e90808;

}

.labelEnquadramento {
  width: 100%;
  height: 40px;
  font-size: 12px;
  color: #e90808;

}

.inputRespostaH1 {
  font-size: 18px;
  color: #979494;
}

.inputComunicacaoTextarea {
  padding: 5px;
  width: 100%;
  height: 100px;
  background-color: #ececec;
}

.areadetextocomunicacao {
  width: 100%;
}

.inputRespostaTextarea {
  padding: 10px;
  width: 100%;
  height: 200px;
  border: 1px solid;
  border-color: #c1bfbf;
}
.inputEnquadramento {
  padding: 10px;
  width: 100%;
  border: 1px solid;
  border-color: #c1bfbf;
  margin-bottom: 10px;
}

.selectEnquadramento {
  padding: 10px;
  width: 100%;
  height: 46px;
  border: 1px solid;
  border-color: #c1bfbf;
  margin-bottom: 10px;
}

.inputEnquadramentoTextarea {
  padding: 10px;
  width: 100%;
  height: 80px;
  border: 1px solid;
  border-color: #c1bfbf;
}

/*Contador do text area*/
.charCounter {
  font-size: 12px;
  color: #666;
  text-align: right;
  margin-top: 4px;
}



.comunicacaoSalvarButton {
  width: 100%;
  height: 30px;
  font-size: 15px; /* Tamanho da fonte */
  color: rgb(255, 255, 255); /* Cor do texto */
  background-color: #199f2b;
  margin-bottom: 5px;
}
.comunicacaoCancelarButton {
  width: 100%;
  height: 30px;
  font-size: 15px; /* Tamanho da fonte */
  color: rgb(255, 255, 255); /* Cor do texto */
  background-color: #c30808;
}

.comunicacaoResp {
  width: 100%;
  height: 30px;
  font-size: 15px; /* Tamanho da fonte */
  color: rgb(255, 255, 255); /* Cor do texto */
  background-color: #0f4761;
  margin-bottom: 5px;
}




.modalContent {
  background: #fff;
  padding: 20px 30px;
  border-radius: 8px;
  max-width: 600px;
  width: 90%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.modalActions {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.modalInputs {
  display:flex;
}

.enviarRespBtn {
  width: 100%;
  height: 30px;
  font-size: 15px; /* Tamanho da fonte */
  color: rgb(255, 255, 255); /* Cor do texto */
  background-color: #129109;
  margin-bottom: 5px;
}

.cancelarBtn {
  width: 100%;
  height: 30px;
  font-size: 15px; /* Tamanho da fonte */
  color: rgb(255, 255, 255); /* Cor do texto */
  background-color: #909597;
  margin-bottom: 5px;
}

.inputSenha {
  padding: 10px;
  width: 100%;
  border: 1px solid;
  border-color: #c1bfbf;
  margin-top: 10px;
}

.btnCancel {
  width: 100%;
  height: 30px;
  font-size: 15px; /* Tamanho da fonte */
  color: rgb(255, 255, 255); /* Cor do texto */
  background-color: #909597;
  margin-bottom: 5px;
}

.btnConfirm {
  width: 100%;
  height: 30px;
  font-size: 15px; /* Tamanho da fonte */
  color: rgb(255, 255, 255); /* Cor do texto */
  background-color: #129109;
  margin-bottom: 5px;
}

.btnCancel {
  background-color: #f44336;
  color: white;
}


.navLogoHeader {
  display: none;
}

.sidebarIconOnly {
  display: none;
}


.divPrincialTelaComunicacao {
  width: 100%;
  height: 100px;
  padding: 5px;
}


.divBotoesCia{
  background: #174ea6;
  width: 30%;
  text-align: center;
  align-content: center;
  font-size: 22px;
  height: 40px;
  font-weight: bold;
  color: #ffffff;
}

.divTotal {
  font-size:14px;
  padding-left: 20px;
  font-weight: bold;
  color: #ffffff;

}

.divTextoTotais {
  font-size: 11px;
  padding-left: 20px;
  font-weight: bold;
  color: #ffffff;
}

.divIcone {
  align-items: initial;
  margin-left: 10px;
  width: 50%;
}

.thDivTituloTabelaComunicacao {
  display:flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}




.tdDivTitleComunicacaoAluno {
  font-weight:bold;
  font-size: 15px;
  padding-top: 20px;
  padding-bottom: 1px;
  vertical-align: bottom;
}

.tdDivIdComunicacao {
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  width:100%;
}



.tabelaComunicacao td {
  vertical-align: middle;
  margin: 0;
  font-size: 12px;
  padding: 12px 16px;
  text-align: left;
  border: 1px solid #d2d4d7;
  vertical-align: top;
  
}

.tabelaComunicacao td img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}



.pComunicacao {
  text-align: center; /* Centraliza o texto */
  font-size: 12px;
  margin: 4px 0;
}

.tabelaComunicacao td p strong {
  font-weight: bold; /* Aplica o negrito */
}


.tabelaComunicacao {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.tabelaComunicacao th {
  padding: 5px;
  text-align: left;
}

.tabelaComunicacao th {
  background-color: #0a4d6b;
}

.tabelaComunicacao tr:nth-child(even) {
  background-color: #f9f9f97c;
}

.tabelaComunicacao tr:hover {
  background-color: #f1f1f1;
}

.tabelaComunicacao {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  min-width: 900px;
}

.tabelaComunicacao thead {
  background-color: #1153ae;
  color:#ffffff;
}

.divtabelaComunicacao {
  display:flex;
  align-items: center;
  padding: 5px;
  border-bottom:1px solid #e1dada;
  width: 100%;
  gap: 8px;
}

/* Container principal dos três blocos (1ª, 2ª, 3ª CIA) */
.topoContainer {
  display: flex;
  gap: 10px;
  width: 100%;
}

/* Cada bloco de CIA */
.ciaBox {
  flex: 1;
  min-width: 280px;   /* evita encolher demais */
}

@media (max-width: 768px) {
  .containerPrincipal {
    padding: 5px;
    width: 100%;
    overflow-y: auto;
  }
  .topoContainer {
    flex-direction: column;
  }

  .divBotoesSuperiores {
    flex-direction: column;

  }
}

.divBotoesPrincipal  {
   display: flex;
    flex: 1;
    text-align: center;
}

.divBotoesSuperiores {
  flex: 1;
  display: flex;
  text-align: center;
  align-items: center;
  background-color: #f5f3f38e;
  border:1px solid #ece5e5;
  padding: 5px;
}



.navIconComunicacaoHeader {
  width: 18px;
  height: 18px;
  margin-left: 5px;
  color: #ffffff;
  margin-right: 5px;
}

.thComunicacaoHeaderBotoes {
  width: 10px;
}

.thComunicacaoHeaderAlunoListar {
  width: 90%;
}

.thComunicacaoHeaderBotoesAlunoListar {
  width: 10%;
  text-align: center; /* Centraliza os ícones de ação */
}

.centralizaricons {
  text-align: center;
  width: 100%;

}

.navIconComunicacaoStatus {
  color: #4753ba;
  font-size: 20px;
  text-align: justify;

}

.menuBotoesComunicacaoVer {
  display: flex;
  text-align: center;
  width: 400px;
  height: 35px;
  font-family: Arial, sans-serif;
  border-radius: 10px;
  background-color: #ffffff;
  margin-top: 1px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.botoesComunicacaoVer {
  font-size: 10px;
  width: 80px;
  padding: 5px;
  height: 30px;
  font-family: Arial, sans-serif;
  margin-top: 1px;
  margin-bottom: 1px;
}

.menuIconsComunicacaoVer {
  font-size: 20px;
  text-align: justify;

}

.menuIconsComunicacaoVer:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.botaoAtivo {
  background-color: #eeeded;
  border-radius: 12px;
  border: 1px solid #d8d8d8;
}


.textoComunicacaoNotificarAluno {
  color: #1e76d5;
}

.textoComunicacaoEnviarCmtCia {
  color: #11ba2d;
}

.textoComunicacaoArquivar {
  color: #dd8110;
}

.textoComunicacaoExcluir {
  color: #e20c0c;
}

.textoComunicacaoPublicar {
  color: #b40ce2;
}

.tituloTabelaListar {
  font-size: 30px;
  color: #fffcfc;
  text-align: center;
  font-family: Arial, sans-serif;
  border-radius: 20px;
  background-color: #0f4761;
  margin-bottom: 5px;
}

.botaoVerComunicacao {
  font-size: 18px;
  color: #fffcfc;
  text-align: center;
  width: 200px;
  height: 30px;
  font-family: Arial, sans-serif;
  border-radius: 20px;
  background-color: #0f4761;
  margin-top: 1px;
  margin-bottom: 1px;
}

.botaoArquivarComunicacao {
  font-size: 18px;
  color: #fffcfc;
  text-align: center;
  width: 200px;
  height: 30px;
  font-family: Arial, sans-serif;
  border-radius: 20px;
  background-color: #ee5109;
  margin-top: 1px;
  margin-bottom: 1px;
}

.botaoNotificarAluno {
  font-size: 18px;
  color: #fffcfc;
  text-align: center;
  width: 200px;
  height: 30px;
  font-family: Arial, sans-serif;
  border-radius: 20px;
  background-color: #1aad2b;
  margin-top: 1px;
  margin-bottom: 1px;
}

.botaoEnviarCmt {
  font-size: 18px;
  color: #fffcfc;
  text-align: center;
  width: 200px;
  height: 30px;
  font-family: Arial, sans-serif;
  border-radius: 20px;
  background-color: #aa1fc2;
  margin-top: 1px;
  margin-bottom: 1px;
}

.scrollableTableWrapper {
  width: 100%;
  overflow-y: auto;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  position: relative;
}



.tabelaComunicacao thead th {
  position: sticky;
  top: 0;
  z-index: 1;
}


.tabelaComunicacao th {
  padding: 10px 10px;
  text-align: center;
  border: 1px solid #d2d4d7;
  vertical-align: top;
}


.tabelaComunicacao tr:hover {
  background-color: #e2e1f4;
}

/*fim tabela listar comunicação*/

.inputBuscar {
  padding: 0.3rem;
  width: 100%;
  border-radius: 20px;
  color: #ccc;
  border: 1px solid;
  display:flex;
  align-items:center;
  justify-content:center;
}
.iconeAddUsuario {
  width: 10%;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}


.menuBotoesUsuarios {
  display: flex;
  text-align: center;
  width: 50px;
  height: 35px;
  font-family: Arial, sans-serif;
  border-radius: 10px;
  background-color: #ffffff;
  margin-top: 1px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.tabelaUsuarios {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  table-layout: fixed;
}

.usuarioImagem {
  width: 30px;
  margin-right: 10px;
  border-radius: 50%;
  object-fit: cover;
}

.usuarioImagemList {
  width: 45px;
  height: 45px;
  margin-right: 5px;
  border-radius: 50%;
  object-fit: cover;
}

.usuarioImagemDetalhe {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
  object-fit: cover;
}

.usuarioSemImagemDetalhe {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 3px;
  color: #757575;
  margin-right: 10px;
  border: 1px solid #757575;

}

.tabelaUsuarios th,
.tabelaUsuarios td {
  padding: 5px 5px;
  text-align: left;
  border: 1px solid #d2d4d7;
  vertical-align: top;
}

.iconsTabelaUsuarios {
  font-size: 20px;
  text-align: justify;
  padding: 4px;

}

.iconsTabelaUsuarios:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: flex-start;
  margin-top: 2rem;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1.5rem;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  width: 300px;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.cardTitle {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.cardCia {
  font-size: 1rem;
  color: #555;
  margin-bottom: 1rem;
}

.cardActions {
  display: flex;
  gap: 0.5rem;
}

.turmaListImg {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-right: 5px;

  /* Centralizando o ícone */
  display: flex;
  justify-content: center;
  align-items: center;
}


/*INICIO DETALHES DA COMUNICAÇÃO CLICADA*/


.pRespostaAluno {
  padding-left:5px;
  text-align: justify;
  font-style:italic;
}

.divCienciaResponsavel {
  font-size:14px;
  color: #333;
  display:flex;
  align-items: flex-end;
  justify-content: flex-end;
}

















/* Estilos específicos para mobile */
@media (max-width: 768px) {

  .imgbackground {
    display: none; /* Esconde o menu completo na sidebar em telas pequenas */
  }

  /* Imagem de fundo em Celular */
  .imgbackgroundMedia {
    display: flex;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../../public/assets/images/logo.png');
    background-size: 80%; /* Ajuste o tamanho da imagem */
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.1;
    z-index: -1;
  }
  
  .dashboardContainer {
    flex-direction: column;
    margin-top: 5px;
    height: calc(100vh - 100px); /* header + bottom nav */
  }

  .sidebar {
    position: fixed;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    width: 100%;
    background: #ffffff;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    border-top: 1px solid #d3d1d1;
  }

  .sidebarFooter {
    display: none;
  }

  .sidebarOpen,
  .sidebarClosed {
    width: 100% !important;
  }

  .menuButton {
    display: none;
  }

  .menuItems {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }

  .menuItems li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    text-align: center;
    width: 60px;
  }

  .icon {
  margin: 0 auto; 
  }
  

  .itemText {
    display: none;
  }

  .conteudoPagina {
    margin-left: 0 !important;
    padding-top: 35px;
    height: calc(100vh - 100px);
  }

  .tituloComunicacao {
    flex-grow: 1; /* Faz com que o conteúdo ocupe o restante da tela */
    margin-top: 1px;
    margin-bottom: 20px;
    justify-content: space-around;
    display: flex;
    box-sizing: border-box; /* Inclui padding e borda no cálculo da largura */
    max-width: 100vw; /* Garante que a largura máxima da div não ultrapasse a tela */
  }

  /* Estilo para a coluna de Ações */


  .acoesColuna button {
    font-size: 8px;
    padding: 2px;
  }

  .acoesColuna button:hover {
    color: #007bff;
  }


  .tabelaUsuarios {
    width: 100%;
    border-collapse: collapse;
  }
  
  .tabelaUsuarios th,
  .tabelaUsuarios td {
    font-size: 8px; /* Ajuste o tamanho da fonte do texto, se necessário */
    padding: 8px;
    text-align: left;
  }
  
  .searchContainer {
    margin: 20px 0;
  }
  
  .searchInput {
    padding: 8px;
    width: 100%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

}

/* INICIO TELA NOVA PERFIL DO USUARIO  */

.divPrincipalUsuarioPerfil {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  padding:0 16px;
  border-bottom: 1px solid #ebf4f3;
}

.tituloPerfil{
  position:absolute;
  left: 50%;
  font-size: 25px;
  transform: translateX(-50%);
}

.itemMenuPerfilPrincipal {
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  align-items: center;
  border-bottom: 1px solid #ebf4f3;

}

.itemMenuPerfilSecundaria {
  margin-left:20px;

}

.itemMenuPerfilIcone {
  margin-left: 20px;
  font-size: 20px;
  color:#7e7b7b;

  }

.itemMenuPerfilLabel {
  font-size:13px;
  color:#7e7b7b;

}

.itemMenuPerfilNome {
  font-size:14px;
  color: #4f4c4c;
  font-weight: bold;

}

.divConteinerDadosUsuario{
  position:relative;
  border-radius: 20px;
  border-bottom: 1px solid #ebf4f3;
  width: 100%;
  margin-top: 5px;
  padding: 20px;
  overflow: hidden;
  background: #ebecf494;
  min-height: 210px;
  display: flex;
}

.imagUserFundoDireita{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgUser{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.divSobreposta{
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction:column;
}

.divSobrepostaItens{
  display: flex;
  font-size: 15px;
  color: #807979;
  align-items: center;
}
.divEnderecoPerfil{
  margin-top:10px;
  background: #ebecf494;
  border-radius: 20px;
  border-bottom: 1px solid #ebf4f3;
  padding:10px;
}

.divEnderecoPerfilTitulo {
  font-size: 14px;
  font-weight: bold;
}

.divPrincipalDependentesPerfil{
  margin-top:10px;
  background: #ebecf494;
  border-radius: 20px;
  border-bottom: 1px solid #ebf4f3;
  padding:10px;

}

.divimgResponsaveisPrincipal {
  display:flex;
  padding: 10px;
}


.divimgDependentesPrincipal {
  display:flex;
  padding: 10px;
  border-bottom: 1px solid #ccd1d0;
  margin-bottom: 10px;
  margin-top: 10px;
}

.imagemUsuario{
  border-radius:50%;
  width: 40px;
  height: 40px;
  padding: 3px;
  color: #757575;
  border: 1px solid #757575;
}

.imagemUsuarioPerfilDependente{
  border-radius:50%;
  width: 50px;
  height: 50px;
  padding: 3px;
  color: #757575;
  border: 1px solid #757575;
}

.semImagemUsuarioPerfilDependente{
  border-radius:50%;
  width: 50px;
  height: 50px;
  padding: 3px;
  color: #757575;
  border: 1px solid #757575;
}


.divBotoesDependentesPrincipal {
  display: flex;
  justify-content: flex-end;
  margin-left: auto; /* <-- ESSENCIAL */
}

.divBotoesDependentesSecundaria {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 3px;
}

.divGrupoBotaoDependentes {
  cursor:pointer;
  padding: 5px;
  font-size: 11px;
  color: #ffffff;
  background: #1ba494;
  border-radius:5px;
}

.divGrupoBotaoDependentesDesativado {
  cursor:pointer;
  padding: 5px;
  font-size: 11px;
  color: #ffffff;
  background: #b0b0b0;
  border-radius:5px;
}

.divDadosAcademicosPrincipal {
  margin-left: auto; /* 🔥 empurra a div para a direita */
  display: flex;
  align-items: center; /* verticalmente centralizado */
}

.spanDadosAcademicosTurma {
  background: #0ea860;
  color: #ffffff;
  padding: 8px;
  text-align: center;
  width: 100px;
  border-radius: 15px;
  font-size: 12px;
}

.spanDadosAcademicosComunicacao {
  background: #0e4ca8;
  color: #ffffff;
  padding: 8px;
  text-align: center;
  width: 100px;
  border-radius: 15px;
  font-size: 12px;
}




/* FIM TELA NOVA PERFIL DO USUARIO  */


/* INICIO TELA AUTORIZAÇÃO  */

.divNumeroAutorizacao {
  text-align:center;
  margin-top: 5px;
  font-size: 12px;
  font-weight: bold;
}

.alunoSemImagemAutorizacao {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 3px;
  color: #757575;
  border: 1px solid #757575;
}

.divModalAutorizacaoPrincipal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  animation: fadeIn 0.3s ease;
  backdrop-filter: blur(2px);
}

.divModalAutorizacaoSecundaria {
  background:#fff;
  max-width: 420px;
  width: 90%;
  color: #333;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
  animation: slideUp 0.4s ease;
  position: relative;
  
}

.divModalAutorizacaoFechar {
  position: absolute;
  top: 10px;
  right:10px;
  cursor: pointer;
  color: #888;
  font-size: 18px;
  transition: 0.2s;
}


/* FIM TELA AUTORIZAÇÃO  */


/* INICIO TELA DASHBOARD  */





.iconGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  width: 100%;
  max-width: 100vw; /* evita overflow horizontal */
  box-sizing: border-box;
}

/* Ícones */
.iconBox {
  flex: 1 1 calc(25% - 10px);
  max-width: calc(25% - 10px);
  background-color: #ffffff;
  border-radius: 12px;
  border: 1px solid #12549162;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  font-size: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-sizing: border-box;
}

.iconBox:hover {
  background-color: #e9ecef;
  transform: scale(1.05);
}

.iconLabel {
  font-size: 0.8rem;
  margin-top: 8px;
  color: #000000;
}

/* Responsividade */
@media (max-width: 768px) {
  .iconBox {
    flex: 1 1 calc(25% - 10px);
    max-width: calc(25% - 10px);
    height: 80px;
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .iconBox {
    flex: 1 1 calc(25% - 10px);
    max-width: calc(25% - 10px);
    height: 70px;
    font-size: 18px;
  }
}